/* SavedJobs.css */
.saved-jobs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
/* .job-card {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
} */
.job-cards p {
  margin-top: 50px;
}
/* .apply-btn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 0px 46px;
  border-radius: 8px;
  cursor: pointer;
} */
