.header-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: orange;
    margin: auto;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0px 10px;
}

.header-options {
    padding-top: 20px;
}

.header-options a {
    margin: 0px 30px;
    text-decoration: none;
    color: black;
}

.accounts-btn {
    padding-top: 16px;
}

.accounts-btn button {
    background: none;
    margin: 0px 5px;
    border-radius: 15px;
    padding: 4px 15px;
}