/* SavedJobs.css */
.saved-jobs {
  margin-bottom: 40px;
}
.job-card {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
}
.job-card h4 {
  margin: 0;
}
.apply-btn {
  background: orange;
  color: white;
  border: none;
  padding: 0px 46px;
  border-radius: 8px;
  cursor: pointer;
}
